# .github/workflows/go.yml

name: Integracao Continua

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Inicia Banco De Dados
        run: docker compose up -d postgres

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.59.0
          args: controllers/ database/ models/ routes/

      - name: Test
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_PORT: ${{ secrets.DB_PORT }}
        run: |
        
        build 
      - name: Projeto compilado
        uses: actions/upload-artifact@v4
        with:
          name: projeto_compilado
          path: main
